In [1]:
from counterfactuals.datasets.blobs import BlobsDataset

In [4]:
cf_dataset_default = BlobsDataset("../data/blobs.csv")

In [8]:
df = cf_dataset_default.raw_data

In [18]:
df[(df["2"]==0) | (df["2"]==1)]

             0         1  2
0     4.438416  3.189382  1
3     5.656768  1.241303  1
4     7.732134  3.785719  1
6    -0.347288  6.860493  0
8    -3.599903  8.643008  0
...        ...       ... ..
1491  4.616914  2.842107  1
1492 -1.993770  6.369726  0
1495 -0.961431  6.785946  0
1497  7.659960  2.177973  1
1499  7.466758  4.288035  1

[1000 rows x 3 columns]