In [1]:
import os
import pandas as pd

In [2]:
df_all = []
for file_name in os.listdir("../results/"):
    if file_name.endswith(".csv"):
        df = pd.read_csv("../results/"+file_name)
        df["method"] = file_name.split(".")[0]
        df_all.append(df)

df_all = pd.concat(df_all)

In [3]:
col_map = {
    'parameters/disc_model/_target_': "clf",
    'parameters/dataset/_target_': "dataset",
    'method': 'method',
    'metrics/cf/model_returned_smth': 'coverage',
    'metrics/cf/valid_cf_disc': 'validity',
    'metrics/cf/dissimilarity_proximity_continuous_euclidean': 'proximity_{cont\_eucl}',
    'metrics/cf/dissimilarity_proximity_continuous_mad': 'proximity_{cont\_mad}',
    'metrics/cf/dissimilarity_proximity_continuous_manhatan': 'proximity_{cont\_manh}',
    'metrics/cf/dissimilarity_proximity_categorical_hamming': 'proximity_{cat\_hamm}',
    'metrics/cf/dissimilarity_proximity_categorical_jaccard': 'proximity_{cat_\jacc}',
    'metrics/cf/kde_log_density': 'kde\_log\_dens',
    'metrics/cf/plausibility': 'plausibility',
    'metrics/cf/sparsity': 'sparsity',
    'metrics/cf/distance_l2_jaccard': 'distance_{l2\_jaccard}',
    'metrics/cf/distance_mad_hamming': 'distance_{mad\_hamming}',
}

clf_map = {
    "LogisticRegression": "LR",
    "MLPClassifier": "MLP",
}

In [4]:
df_all.rename(columns=col_map, inplace=True)
df_all = df_all[col_map.values()]
df_all.dropna(subset=["clf", "dataset"], inplace=True)
df_all["clf"] = df_all["clf"].apply(lambda x: x.split(".")[-1])
df_all["clf"] = df_all["clf"].apply(lambda x: clf_map[x] if x in clf_map else x)
df_all["dataset"] = df_all["dataset"].apply(lambda x: x.split(".")[-1].removesuffix("Dataset"))

In [5]:
def pick_best_cf(df):
    return df.sort_values("validity", ascending=False).iloc[0]
    
df_all = df_all.groupby(["dataset", "clf", "method"], as_index=False).apply(pick_best_cf)

In [6]:
df_all = df_all.round(3)
df_all = df_all.style.format(precision=3)

In [7]:
print(df_all.to_latex())

\begin{tabular}{llllrrrrrrrrrrrr}
 & clf & dataset & method & coverage & validity & proximity_{cont\_eucl} & proximity_{cont\_mad} & proximity_{cont\_manh} & proximity_{cat\_hamm} & proximity_{cat_\jacc} & kde\_log\_dens & plausibility & sparsity & distance_{l2\_jaccard} & distance_{mad\_hamming} \\
0 & LR & Adult & artelth & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan \\
1 & LR & Adult & cbce & 1.000 & 1.000 & 0.240 & 3.269 & 0.288 & 0.193 & 0.569 & 33.362 & 0.406 & 0.242 & nan & nan \\
2 & LR & Adult & gs23 & nan & 0.650 & 0.203 & 3.200 & 0.257 & 0.882 & 0.882 & -17.397 & 1.058 & 0.882 & 0.832 & 1.054 \\
3 & MLP & Adult & cegp & 1.000 & 1.000 & 0.228 & 3.835 & 0.284 & 0.135 & 0.351 & 20.221 & 0.449 & 0.190 & nan & nan \\
4 & MLP & Adult & cem & 1.000 & 1.000 & 0.334 & 5.612 & 0.396 & 0.079 & 0.211 & 15.678 & 0.540 & 0.124 & nan & nan \\
5 & MLP & Adult & gs23 & 1.000 & 0.739 & 0.235 & 3.572 & 0.295 & 1.000 & 1.000 & -15.705 & 1.186 & 1.000 & 0.943 & 1.191 \\
6 & LR & Compas & artelth & 0.461 & 1.000 & 0.219 & 4.164 & 0.219 & 1.000 & 1.000 & 12.115 & 3.866 & 1.000 & nan & nan \\
7 & LR & Compas & cbce & 1.000 & 1.000 & 1.231 & 29.247 & 2.001 & 0.290 & 0.596 & 17.039 & 13.534 & 0.451 & nan & nan \\
8 & LR & Compas & gs23 & 1.000 & 0.843 & 0.706 & 74.103 & 1.422 & 1.000 & 1.000 & -0.162 & 34.885 & 1.000 & 0.863 & 35.115 \\
9 & MLP & Compas & cegp & 1.000 & 1.000 & 0.150 & 43.907 & 0.232 & 0.024 & 0.053 & 13.037 & 20.708 & 0.207 & nan & nan \\
10 & MLP & Compas & cem & 1.000 & 1.000 & 0.277 & 53.233 & 0.321 & 0.043 & 0.087 & 9.461 & 25.844 & 0.133 & nan & nan \\
11 & MLP & Compas & gs23 & 1.000 & 0.840 & 0.676 & 78.445 & 1.433 & 1.000 & 1.000 & -5.825 & 36.990 & 1.000 & 0.849 & 37.141 \\
12 & LR & GermanCredit & artelth & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan \\
13 & LR & GermanCredit & cbce & 1.000 & 1.000 & 0.977 & 9.618 & 1.774 & 0.197 & 0.567 & 76.154 & 1.320 & 0.256 & nan & nan \\
14 & LR & GermanCredit & gs23 & 1.000 & 0.808 & 0.466 & 6.258 & 1.165 & 1.000 & 1.000 & -101.585 & 1.771 & 1.000 & 0.937 & 1.624 \\
15 & MLP & GermanCredit & cegp & 1.000 & 1.000 & 0.236 & 3.204 & 0.379 & 0.219 & 0.492 & -72.275 & 0.987 & 0.260 & nan & nan \\
16 & MLP & GermanCredit & cem & 1.000 & 1.000 & 0.262 & 3.022 & 0.383 & 0.144 & 0.363 & -69.581 & 1.012 & 0.160 & nan & nan \\
17 & MLP & GermanCredit & gs23 & 1.000 & 0.700 & 0.415 & 5.826 & 1.004 & 1.000 & 1.000 & -77.605 & 1.741 & 1.000 & 0.931 & 1.573 \\
18 & LR & Heloc & artelth & 0.544 & 1.000 & 0.263 & 3.392 & 0.263 & nan & 0.000 & 7.078 & nan & 1.000 & nan & nan \\
19 & LR & Heloc & cbce & 1.000 & 1.000 & 0.928 & 60.535 & 3.125 & nan & 0.000 & 23.528 & nan & 0.830 & nan & nan \\
20 & LR & Heloc & gs23 & nan & 0.650 & 0.299 & 24.667 & 1.247 & nan & 0.000 & 14.143 & nan & 0.873 & 0.299 & nan \\
21 & MLP & Heloc & cegp & 1.000 & 1.000 & 0.143 & 12.035 & 0.357 & nan & 0.000 & 21.149 & nan & 0.453 & nan & nan \\
22 & MLP & Heloc & cem & 1.000 & 1.000 & 0.249 & 19.129 & 0.433 & nan & 0.000 & 18.082 & nan & 0.198 & nan & nan \\
23 & MLP & Heloc & gs23 & 1.000 & 0.835 & 0.544 & 45.252 & 2.138 & nan & 0.000 & 16.516 & nan & 1.000 & 0.544 & nan \\
24 & LR & Law & artelth & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan \\
25 & LR & Law & cbce & 1.000 & 1.000 & 0.522 & 7.017 & 0.827 & 0.111 & 0.384 & 13.135 & 1.798 & 0.330 & nan & nan \\
26 & LR & Law & gs23 & 1.000 & 0.950 & 0.411 & 5.534 & 0.648 & 1.000 & 1.000 & 6.984 & 2.106 & 1.000 & 0.853 & 2.133 \\
27 & MLP & Law & cegp & 1.000 & 1.000 & 0.180 & 2.090 & 0.230 & 0.168 & 0.363 & 11.659 & 0.740 & 0.316 & nan & nan \\
28 & MLP & Law & cem & 1.000 & 1.000 & 0.296 & 2.785 & 0.307 & 0.080 & 0.144 & 9.276 & 0.907 & 0.157 & nan & nan \\
29 & MLP & Law & gs23 & 1.000 & 0.948 & 0.406 & 5.463 & 0.639 & 1.000 & 1.000 & 4.445 & 2.089 & 1.000 & 0.851 & 2.116 \\
30 & LR & Moons & artelth & 1.000 & 1.000 & 0.561 & 1.282 & 0.561 & nan & 0.000 & -3.300 & nan & 1.000 & nan & nan \\
31 & LR & Moons & cbce & 1.000 & 1.000 & 1.715 & 3.674 & 2.068 & nan & 0.000 & -0.230 & nan & 1.000 & nan & nan \\
32 & MLP & Moons & cegp & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan \\
33 & MLP & Moons & cem & 1.000 & 1.000 & 1.069 & 2.583 & 1.202 & nan & 0.000 & -15.511 & nan & 0.665 & nan & nan \\
34 & MLP & Moons & gs23 & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan & nan \\
\end{tabular}

In [8]:
df_all