In [37]:
import os
import json
import pandas as pd

# Counterfactuals Results from jsons

In [38]:
df_all = []
for file_name in os.listdir("../results/"):
    if file_name.endswith(".json"):
        with open("../results/"+file_name) as f:
            data = json.load(f)
        data["method"] = file_name.split("_")[1]
        data["dataset"] = file_name.split("_")[2].split(".")[0]
        df_all.append(data)

df_all = pd.DataFrame(df_all)

In [39]:
df_all.columns

Index(['model_returned_smth', 'valid_cf_disc',
       'dissimilarity_proximity_categorical_hamming',
       'dissimilarity_proximity_categorical_jaccard',
       'dissimilarity_proximity_continuous_manhatan',
       'dissimilarity_proximity_continuous_euclidean',
       'dissimilarity_proximity_continuous_mad', 'distance_l2_jaccard',
       'distance_mad_hamming', 'kde_log_density_cfs', 'kde_log_density_xs',
       'sparsity', 'valid_cf_gen', 'flow_log_density_cfs_zero',
       'flow_log_density_cfs_one', 'flow_log_density_cfs',
       'flow_log_density_xs_zero', 'flow_log_density_xs_one',
       'flow_log_density_xs', 'flow_prob_condition_acc', 'method', 'dataset'],
      dtype='object')

In [40]:
columns_map = {
    "method": "Method",
    "dataset": "Dataset",
    "valid_cf_disc": "Valid CFs (Disc)",
    'valid_cf_gen': 'Valid CFs (Gen)',
    'flow_log_density_cfs_zero': 'Flow Log Density (CFs=0)',
    'flow_log_density_xs_zero': 'Flow Log Density (Xs=0)',
    'flow_log_density_cfs_one': 'Flow Log Density (CFs=1)',
    'flow_log_density_xs_one': 'Flow Log Density (Xs=1)',
    'flow_log_density_cfs': 'Flow Log Density (CFs Avg)',
    'flow_log_density_xs': 'Flow Log Density (Xs Avg)',
    'flow_prob_condition_acc': 'Flow Prob Condition Acc',
}
df_all = df_all.rename(columns=columns_map)[columns_map.values()]
# convert numeric columns to float
df_all = df_all.apply(pd.to_numeric, errors='ignore')
df_all = df_all.sort_values(by=["Dataset", "Method"]).round(decimals=3).reset_index(drop=True)

In [41]:
df_all

,Method,Dataset,Valid CFs (Disc),Valid CFs (Gen),Flow Log Density (CFs=0),Flow Log Density (Xs=0),Flow Log Density (CFs=1),Flow Log Density (Xs=1),Flow Log Density (CFs Avg),Flow Log Density (Xs Avg),Flow Prob Condition Acc
0,FLOW,AdultDataset,0.997,0.997,-10.896,10.609,9.161,18.379,-1.807,14.130,0.344
1,LR,AdultDataset,0.999,0.909,3.624,11.451,7.931,17.701,5.905,14.761,0.601
2,MLP,AdultDataset,0.680,0.860,-6.996,14.731,9.301,20.080,0.451,17.175,0.489
3,FLOW,CompasDataset,0.996,0.996,5.978,6.100,5.772,6.002,5.881,6.054,0.637
4,LR,CompasDataset,1.000,0.883,0.868,3.179,1.019,3.946,0.937,3.530,0.616
5,MLP,CompasDataset,0.788,0.836,4.224,5.001,4.956,5.356,4.502,5.136,0.648
6,FLOW,GermanCreditDataset,1.000,1.000,-11.813,-17.057,-8.405,-10.376,-9.825,-13.160,0.900
7,LR,GermanCreditDataset,1.000,0.592,-9.486,-12.989,-7.930,-14.450,-8.721,-13.707,0.967
8,MLP,GermanCreditDataset,0.075,0.442,-11.188,-12.599,-12.872,-14.585,-12.128,-13.708,0.967
9,FLOW,HelocDataset,0.998,0.998,35.685,30.213,29.579,28.227,32.247,29.095,0.860
10,LR,HelocDataset,0.999,0.861,12.515,21.683,28.493,28.546,19.786,24.806,0.669
11,MLP,HelocDataset,0.768,0.868,18.173,22.163,27.214,30.327,21.726,25.370,0.629
12,FLOW,LawDataset,0.903,0.903,20.801,20.334,26.810,26.407,24.699,24.273,0.718
13,LR,LawDataset,1.000,0.867,4.243,8.557,27.639,29.597,19.155,21.967,0.232
14,MLP,LawDataset,0.782,0.937,19.213,19.045,31.062,31.609,23.803,23.912,0.606
15,FLOW,MnistDataset,0.792,0.792,-53.610,-52.874,-58.976,-60.827,-56.517,-57.182,0.694
16,LR,MnistDataset,0.014,0.819,-56.441,-55.537,-61.506,-59.102,-58.974,-57.320,0.444
17,MLP,MnistDataset,0.028,0.847,-55.437,-54.495,-61.818,-59.516,-58.805,-57.145,0.486
18,FLOW,MoonsDataset,0.942,0.942,-1.802,-1.566,-1.437,-1.533,-1.614,-1.549,0.612
19,LR,MoonsDataset,1.000,0.971,-1.563,-1.623,-1.424,-1.451,-1.487,-1.530,0.767
20,MLP,MoonsDataset,0.398,0.592,-1.365,-1.753,-1.473,-1.729,-1.420,-1.741,0.922

# Model training results from jsons

In [42]:
df_all = []
for file_name in os.listdir("../results/model_train/"):
    if file_name.endswith(".json"):
        with open("../results/model_train/"+file_name) as f:
            data = json.load(f)
        data["model"] = file_name.split("_")[1]
        data["data"] = file_name.split("_")[2]
        data["dataset"] = file_name.split("_")[3].split(".")[0]
        df_all.append(data)

df_all = pd.DataFrame(df_all)

df_all = df_all[['model', 'data', 'dataset', 'accuracy', 'weighted avg_f1-score', '0.0_precision', '0.0_recall', '0.0_f1-score', '1.0_precision', '1.0_recall', '1.0_f1-score']]

In [43]:
df_all = df_all.apply(pd.to_numeric, errors='ignore')
df_all.sort_values(by=["dataset", "model", "data"]).round(decimals=3)

,model,data,dataset,accuracy,weighted avg_f1-score,0.0_precision,0.0_recall,0.0_f1-score,1.0_precision,1.0_recall,1.0_f1-score
20,LR,orig,AdultDataset,0.806,0.805,0.825,0.776,0.800,0.788,0.835,0.811
8,MLP,orig,AdultDataset,0.788,0.787,0.765,0.831,0.797,0.815,0.745,0.778
24,flow,LR,AdultDataset,0.909,0.909,0.864,0.957,0.908,0.957,0.866,0.910
9,flow,MLP,AdultDataset,0.860,0.860,0.936,0.796,0.860,0.794,0.936,0.859
7,flow,orig,AdultDataset,0.769,0.768,0.746,0.815,0.779,0.796,0.722,0.757
28,LR,orig,CompasDataset,0.804,0.804,0.780,0.847,0.812,0.833,0.762,0.796
13,MLP,orig,CompasDataset,0.772,0.769,0.719,0.893,0.797,0.859,0.651,0.741
21,flow,LR,CompasDataset,0.883,0.883,0.900,0.882,0.891,0.863,0.883,0.873
0,flow,MLP,CompasDataset,0.836,0.838,0.895,0.834,0.864,0.755,0.840,0.796
31,flow,orig,CompasDataset,0.735,0.735,0.721,0.765,0.743,0.750,0.705,0.727
11,LR,orig,GermanCreditDataset,0.808,0.808,0.803,0.817,0.810,0.814,0.800,0.807
19,MLP,orig,GermanCreditDataset,0.758,0.758,0.792,0.700,0.743,0.731,0.817,0.772
16,flow,LR,GermanCreditDataset,0.592,0.591,0.591,0.639,0.614,0.593,0.542,0.566
22,flow,MLP,GermanCreditDataset,0.442,0.442,0.370,0.377,0.374,0.500,0.493,0.496
14,flow,orig,GermanCreditDataset,0.633,0.631,0.660,0.550,0.600,0.614,0.717,0.662
1,LR,orig,HelocDataset,0.707,0.707,0.711,0.742,0.726,0.704,0.670,0.686
33,MLP,orig,HelocDataset,0.722,0.719,0.701,0.815,0.754,0.754,0.620,0.681
10,flow,LR,HelocDataset,0.861,0.862,0.893,0.847,0.869,0.828,0.878,0.852
32,flow,MLP,HelocDataset,0.868,0.869,0.935,0.841,0.886,0.787,0.910,0.844
30,flow,orig,HelocDataset,0.645,0.644,0.691,0.579,0.630,0.610,0.718,0.659
12,LR,orig,LawDataset,0.705,0.699,0.783,0.568,0.658,0.661,0.842,0.741
29,MLP,orig,LawDataset,0.743,0.740,0.699,0.856,0.769,0.814,0.631,0.711
18,flow,LR,LawDataset,0.935,0.934,0.971,0.845,0.904,0.918,0.986,0.951
15,flow,MLP,LawDataset,0.937,0.937,0.984,0.912,0.947,0.875,0.977,0.923
34,flow,orig,LawDataset,0.676,0.668,0.750,0.527,0.619,0.635,0.824,0.718
5,LR,orig,MnistDataset,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
26,MLP,orig,MnistDataset,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
6,flow,LR,MnistDataset,0.903,0.902,1.000,0.806,0.892,0.837,1.000,0.911
25,flow,MLP,MnistDataset,0.903,0.902,0.968,0.833,0.896,0.854,0.972,0.909
23,flow,orig,MnistDataset,0.847,0.847,0.879,0.806,0.841,0.821,0.889,0.853
27,LR,orig,MoonsDataset,0.835,0.835,0.872,0.788,0.828,0.804,0.882,0.841
3,MLP,orig,MoonsDataset,0.981,0.981,1.000,0.962,0.980,0.962,1.000,0.981
17,flow,LR,MoonsDataset,0.971,0.971,0.978,0.957,0.968,0.965,0.982,0.973
4,flow,MLP,MoonsDataset,0.709,0.706,0.738,0.620,0.674,0.689,0.792,0.737
2,flow,orig,MoonsDataset,0.689,0.689,0.700,0.673,0.686,0.679,0.706,0.692

# Counterfactuals results from netune csv's

In [2]:
df_all = []
for file_name in os.listdir("../results/"):
    if file_name.endswith(".csv"):
        df = pd.read_csv("../results/"+file_name)
        df["method"] = file_name.split(".")[0].replace("_", "\_")
        df_all.append(df)

df_all = pd.concat(df_all)

In [3]:
col_map = {
    'parameters/disc_model': "clf",
    'parameters/dataset/_target_': "dataset",
    'method': 'method',
    'metrics/cf/model_returned_smth': 'coverage',
    'metrics/cf/valid_cf_disc': 'validity',
    'metrics/cf/flow_log_density_cfs': 'flow\_log\_dens_{cfs}',
    'metrics/cf/flow_log_density_xs': 'flow\_log\_dens_{xs}',
    'metrics/cf/kde_log_density_cfs': 'kde\_log\_dens_{cfs}',
    'metrics/cf/kde_log_density_xs': 'kde\_log\_dens_{xs}',
    'metrics/cf/dissimilarity_proximity_continuous_euclidean': 'proximity_{cont\_eucl}',
    'metrics/cf/dissimilarity_proximity_continuous_mad': 'proximity_{cont\_mad}',
    'metrics/cf/dissimilarity_proximity_continuous_manhatan': 'proximity_{cont\_manh}',
    'metrics/cf/dissimilarity_proximity_categorical_hamming': 'proximity_{cat\_hamm}',
    'metrics/cf/dissimilarity_proximity_categorical_jaccard': 'proximity_{cat_\jacc}',
    'metrics/cf/plausibility': 'plausibility',
    'metrics/cf/sparsity': 'sparsity',
    'metrics/cf/distance_l2_jaccard': 'distance_{l2\_jaccard}',
    'metrics/cf/distance_mad_hamming': 'distance_{mad\_hamming}',
}

clf_map = {
    "LogisticRegression": "LR",
    "MLPClassifier": "MLP",
}

In [4]:
df_all.rename(columns=col_map, inplace=True)
df_all = df_all[col_map.values()]
df_all.dropna(subset=["clf", "dataset"], inplace=True)
df_all["clf"] = df_all["clf"].apply(lambda x: x.split(".")[-1])
df_all["clf"] = df_all["clf"].apply(lambda x: clf_map[x] if x in clf_map else x)
df_all["dataset"] = df_all["dataset"].apply(lambda x: x.split(".")[-1].removesuffix("Dataset"))

In [5]:
def pick_best_cf(df):
    return df.sort_values("validity", ascending=False).iloc[0]
    
df_all = df_all.groupby(["dataset", "clf", "method"], as_index=False).apply(pick_best_cf)

In [6]:
df_all = df_all.round(3)
df_all = df_all.style.format(precision=3)

In [7]:
print(df_all.to_latex())

\begin{tabular}{llllrrrrrrrrrrrrrrr}
 & clf & dataset & method & coverage & validity & flow\_log\_dens_{cfs} & flow\_log\_dens_{xs} & kde\_log\_dens_{cfs} & kde\_log\_dens_{xs} & proximity_{cont\_eucl} & proximity_{cont\_mad} & proximity_{cont\_manh} & proximity_{cat\_hamm} & proximity_{cat_\jacc} & plausibility & sparsity & distance_{l2\_jaccard} & distance_{mad\_hamming} \\
0 & LR & Adult & cbce & 1.000 & 1.000 & -41.426 & -19.393 & 33.353 & 29.869 & 0.240 & 3.263 & 0.288 & 0.193 & 0.569 & 0.406 & 0.242 & nan & nan \\
1 & LR & Adult & gen\_disc\_loss & 1.000 & 1.000 & -66.757 & -34.073 & -28.367 & 29.532 & 0.301 & 5.003 & 0.392 & 1.000 & 1.000 & 1.294 & 1.000 & 0.948 & 1.297 \\
2 & LR & Compas & artelth & 1.000 & 1.000 & -0.920 & 1.389 & 6.477 & 15.328 & 0.222 & 4.227 & 0.222 & 0.919 & 0.919 & 3.310 & 0.946 & 0.594 & 2.463 \\
3 & LR & Compas & cbce & 1.000 & 1.000 & -3.383 & 1.579 & 17.064 & 15.146 & 1.231 & 29.233 & 2.001 & 0.291 & 0.600 & 13.529 & 0.452 & nan & nan \\
4 & LR & Compas & cegp & 1.000 & 1.000 & -1.285 & 2.686 & 8.189 & 15.146 & 0.181 & 48.989 & 0.275 & 0.031 & 0.062 & 23.060 & 0.213 & 0.118 & 22.878 \\
5 & LR & Compas & gen\_disc\_loss & 1.000 & 1.000 & -5.291 & -18.050 & -7.512 & 15.228 & 0.711 & 128.804 & 1.533 & 1.000 & 1.000 & 60.493 & 1.000 & 0.865 & 60.642 \\
6 & LR & GermanCredit & cbce & 1.000 & 1.000 & -16.139 & -8.757 & 76.155 & -37.660 & 0.965 & 9.510 & 1.773 & 0.200 & 0.574 & 1.308 & 0.260 & nan & nan \\
7 & LR & GermanCredit & gen\_disc\_loss & 1.000 & 1.000 & -13.670 & -10.873 & -70.020 & -34.617 & 0.636 & 9.077 & 1.477 & 1.000 & 1.000 & 2.106 & 1.000 & 0.957 & 1.958 \\
8 & LR & GermanCredit & wach & 1.000 & 1.000 & -13.698 & -46.681 & -139.700 & -30.118 & 1.043 & 14.071 & 2.099 & 0.360 & 0.707 & 2.431 & 0.409 & 0.747 & 1.987 \\
9 & LR & Heloc & cbce & 1.000 & 1.000 & -7.785 & -2.056 & 23.521 & 22.801 & 0.933 & 60.979 & 3.143 & nan & 0.000 & nan & 0.831 & nan & nan \\
10 & LR & Heloc & gen\_disc\_loss & 1.000 & 1.000 & 2.130 & 8.685 & 18.786 & 22.552 & 0.752 & 49.178 & 2.755 & nan & 0.000 & nan & 1.000 & 0.752 & nan \\
11 & LR & Law & cbce & 1.000 & 1.000 & 16.151 & 24.485 & 12.971 & 12.374 & 0.508 & 6.793 & 0.803 & 0.111 & 0.384 & 1.745 & 0.329 & nan & nan \\
12 & LR & Law & cegp & 1.000 & 1.000 & 14.969 & -92.079 & 4.730 & 12.335 & 0.200 & 2.082 & 0.228 & 0.394 & 0.609 & 0.922 & 0.457 & 0.506 & 0.816 \\
13 & LR & Law & gen\_disc\_loss & 1.000 & 1.000 & 22.345 & 19.783 & -7.871 & 12.322 & 0.485 & 6.582 & 0.771 & 1.000 & 1.000 & 2.378 & 1.000 & 0.871 & 2.396 \\
14 & LR & Mnist & cbce & 1.000 & 1.000 & -59.597 & -57.122 & 21.320 & -7607.960 & 55.059 & 33.212 & 139.673 & nan & 0.000 & nan & 1.000 & nan & nan \\
15 & LR & Mnist & gen\_disc\_loss & 1.000 & 0.083 & -59.614 & -57.300 & -67650.453 & -20271.617 & 12.282 & 17.150 & 48.443 & nan & 0.000 & nan & 1.000 & 12.282 & nan \\
16 & LR & Moons & artelth & 1.000 & 1.000 & -6.384 & -1.569 & -14.637 & -0.463 & 0.677 & 1.549 & 0.677 & nan & 0.000 & nan & 0.816 & 0.677 & nan \\
17 & LR & Moons & cbce & 1.000 & 1.000 & -6.808 & -5.689 & -0.227 & -0.464 & 1.729 & 3.695 & 2.083 & nan & 0.000 & nan & 1.000 & nan & nan \\
18 & LR & Moons & cegp & 1.000 & 1.000 & -7.080 & -1.662 & -10.074 & -0.465 & 0.694 & 1.812 & 0.854 & nan & 0.000 & nan & 0.985 & 0.694 & nan \\
19 & LR & Moons & gen\_disc\_loss & 1.000 & 1.000 & -6.210 & -5.567 & -3.064 & -1.919 & 1.616 & 4.301 & 2.216 & nan & 0.000 & nan & 1.000 & 1.616 & nan \\
\end{tabular}

In [8]:
df_all

In [ ]:
# train single flow
# train classificator only once
# log_dens for classes separately
# accuracy spelniania warunku
# accuracy spelniania warunkw
# log density per class