In [3]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_moons

# Moons

In [11]:
X, y = make_moons(n_samples=2**14, noise=0.1, random_state=42)
data = pd.DataFrame(np.hstack([X, y.reshape(-1 ,1)]))
data.to_csv("../data/origin/moons.csv", index=False, header=None)

# Adult

In [4]:
pd.read_csv("../data/origin/adult/adult.data", header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# LAW

In [3]:
df_law = pd.read_csv("../data/origin/law.csv")
columns = ["lsat", "gpa", "zfygpa","pass_bar"]
df_law = df_law[columns]
df_law.dropna().corr()

              lsat       gpa    zfygpa  pass_bar
lsat      1.000000  0.239773  0.281868  0.237060
gpa       0.239773  1.000000  0.173866  0.143892
zfygpa    0.281868  0.173866  1.000000  0.243983
pass_bar  0.237060  0.143892  0.243983  1.000000

In [10]:
sum(df_law["pass_bar"] == 0)

1169

# Compas

In [4]:
df = pd.read_csv("../data/origin/compas_two_years.csv", index_col="id")

In [5]:
columns = ['age', 'sex', 'race', 'priors_count', 'days_b_screening_arrest', 'c_jail_in', 'c_jail_out',
               'c_charge_degree', 'is_recid', 'is_violent_recid', 'two_year_recid', 'decile_score', 'score_text']
df = df[columns]
df['days_b_screening_arrest'] = np.abs(df['days_b_screening_arrest'])
df['c_jail_out'] = pd.to_datetime(df['c_jail_out'])
df['c_jail_in'] = pd.to_datetime(df['c_jail_in'])
df['length_of_stay'] = np.abs((df['c_jail_out'] - df['c_jail_in']).dt.days)
df['length_of_stay'].fillna(df['length_of_stay'].value_counts().index[0], inplace=True)
df['days_b_screening_arrest'].fillna(df['days_b_screening_arrest'].value_counts().index[0], inplace=True)
df['length_of_stay'] = df['length_of_stay'].astype(int)
df['days_b_screening_arrest'] = df['days_b_screening_arrest'].astype(int)
df = df[df["score_text"] != "Medium"]
df["class"] = pd.get_dummies(df["score_text"])["High"].astype(int)
df.drop(['c_jail_in', 'c_jail_out', 'decile_score', 'score_text'], axis=1, inplace=True)

In [6]:
df

,age,sex,race,priors_count,days_b_screening_arrest,c_charge_degree,is_recid,is_violent_recid,two_year_recid,length_of_stay,class
id,,,,,,,,,,,
1,69,Male,Other,0,1,F,0,0,0,0,0
3,34,Male,African-American,0,1,F,1,1,1,10,0
4,24,Male,African-American,4,1,F,1,0,1,1,0
5,23,Male,African-American,1,1,F,0,0,0,0,1
6,43,Male,Other,2,1,F,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
10995,20,Male,African-American,0,1,F,0,0,0,0,1
10997,23,Male,African-American,0,1,F,0,0,0,1,0
10999,57,Male,Other,0,1,F,0,0,0,1,0
11000,33,Female,African-American,3,1,M,0,0,0,1,0
11001,23,Female,Hispanic,2,2,F,1,0,1,1,0